@charset "utf-8";
	/* CSS Document*/
@import url(format.css);

.center-text {
	text-align:center;
}

.page {
	padding:0 10px;
}
.main {
	padding: 15px 0 80px;
}
.main .item {
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
.main .item .txt-username,.main .item .txt-password,.main .item .txt-password ,.main .item .txt-password_PwdTwo,.main .item .txt-captcha {
	text-indent:10px;
}
.main .item .txt-input {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #d7d7d7;
	border-radius:5px;
	color: #252525;
	font-size: 14px;
	height: 44px;
	width: 100%;
}

.ui-btn-lg {
	cursor:pointer;
	border-radius:5px;
	display: block;
	font-size: 20px;
	height: 44px;
	line-height: 44px;
	width: 100%;
	text-align:center;
}
.ui-btn-primary {
	background-color: #45708b;
	background-repeat:no-repeat;
	color:#70bdea;
}
.ui-btn-danger {
	background-clip: padding-box;
	background-color: #de3b8a;
	border-color: #de3b8a;
	color: #fff;
}
